* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-arg-cat.arg-cat.dix -text
/apertium-arg-cat.arg-cat.lrx -text
/apertium-arg-cat.arg-cat.t1x -text
/apertium-arg-cat.cat-arg.lrx -text
/apertium-arg-cat.cat-arg.t1x -text
/autogen.sh -text
/configure.ac -text
dev/testvoc/inconsistency-summary.sh -text
dev/testvoc/inconsistency.sh -text
dev/testvoc/testvoc-summary.arg-cat.txt -text
dev/testvoc/testvoc-summary.cat-arg.txt -text
dev/testvoc/testvoc.sh -text
/modes.xml -text
t/README.org -text
t/config.sh -text
t/config.sh.in -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
texts/cuento.cat.txt -text
